$text-color: blanchedAlmond;
$bg: rgba(36, 52, 71, 1);

html {
  width: 100%;
  background-color: $bg;
  display: flex;
  justify-content: center;
}

body {
  background-color: $bg !important;
  width: 75%;
  display: flex;
  justify-content: center;

  #app {
    width: 100%;

    .App {
      width: 100%;

      .Display {
        margin: auto;
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}
